{% extends '/master.html' %}

{% block title %}
  Login Here!
{% endblock %}

{% block header %}
  <h2>{{ message }}</h2>
{% endblock %}

{% block content %}
  <form method="post" action='/auth'>
    <p>
      <input type="text" name="username" placeholder="Enter Username">
    </p>
    <p>
      <input type="password" name="password" placeholder="Enter Password">
    </p>
    <p>
      <input type="submit" value="Login">&nbsp;
      <a href="/register">Register</a>
    </p>
  </form>
{% endblock %}
