{% extends '/master.html' %}

{% block title %}
  Register Here!
{% endblock %}

{% block content %}
  <form method="post" action="/register-user">
    <p>
      <input name="username" type="text" placeholder="Enter Username">
    </p>
    <p>
      <input name="password" type="password" placeholder="Enter Password">
    </p>
    <p>
      Country
      <select name="country">
        {% for country in countries %}
          <option>{{ country.name }}</option>
        {% endfor %}
      </select>
    </p>
    <p>
      Gender:
      <input type="radio" name="gender" value="M">Male&nbsp;
      <input type="radio" name="gender" value="F">Female
    </p>
    <p>
      <input type="submit" value="Register">&nbsp;
    </p>
  </form>
{% endblock %}
